{% extends 'base.html.twig' %}

{% block title %}Stubborn - Mon panier
{% endblock %}

{% block body %}
	{% include '_partials/_header.html.twig'%}
	<main>
		{% if cart|length > 0 %}
			<h1>Mon panier</h1>
			<a href='cart/removeAll'>
				<button class='btn btn-primary'>Supprimer tous les articles</button>
			</a>
			{% set total = null %}
			{% for item in cart %}
				{% set total = total + (item.product.price * item.quantity) %}
				<div class='cart_product'>
					<img class='product_img' src={{asset('images/products/' ~ item.product.imageName)}}>
					<h3>{{ item.product.name }}</h3>
					<h3>{{ item.product.price|number_format(2, ',', '.') }}</h3>
					<form method="post" action="{{ path('cart_remove_one', {id: item.product.id}) }}">
						<input type="hidden" name="size" value="{{ item.size }}">
						<button class="btn btn-primary">-</button>
					</form>
					<h4>{{ item.quantity }}</h4>
					<form method="post" action="{{ path('cart_add', {id: item.product.id}) }}">
						<input type="hidden" name="size" value="{{ item.size }}">
						<button class="btn btn-primary">+</button>
					</form>
					<h3>{{ (item.product.price * item.quantity)|number_format(2, ',', '.') }}</h3>
					<h4>Taille :
						{{ item.size }}</h4>
					<form method="post" action="{{ path('cart_remove', {id: item.product.id}) }}">
						<input type="hidden" name="size" value="{{ item.size }}">
						<button class="btn btn-primary w-100">Retirer du panier</button>
					</form>
				</div>
			{% endfor %}
			<div class='cart_end'>
				<div class='cart_total'>
					<h3>Total :
						{{ total|number_format(2, ',', '.') }}
						€</h3>
				</div>
				<div class='cart_btns'>
					<form id='checkout-form' method='post' action="{{ path('app_stripe') }}">
						<input type='hidden' name='stripeToken' id='stripe-token-id'>
						<input type='hidden' name='totalAmount' value='{{ total|number_format(2, ',', '.') }}'>
						<button class='btn btn-danger w-100' id='checkout-button'>Finaliser ma commande</button>
					</form>
					<a href='/product'>
						<button class='btn btn-success w-100'>Continuer mes achats</button>
					</a>
				</div>
			</div>

		{% else %}
			<h1>Mon panier</h1>
			<h3>Votre panier est vide !</h3>
			<a href='/product'>
				<button class='btn btn-primary'>Notre boutique</button>
			</a>
		{% endif %}
	</main>
	<script src="https://js.stripe.com/v3/"></script>
    <script>
        
    </script>
	{% include '_partials/_footer.html.twig'%}
{% endblock %}
