{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}


{% block body %}
	{% include '_partials/_header.html.twig'%}
	<main>
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<div class='row'>
			<div class='col-4 mx-auto'>
				<h1>S'inscrire</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.deliveryAddress) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				

				<button type="submit" class="btn btn-primary">Créer un compte</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</main>
	{% include '_partials/_footer.html.twig'%}
{% endblock %}
