{% extends 'base.html.twig' %}

{% block title %}Stubborn - Créer un compte
{% endblock %}


{% block body %}
	{% include '_partials/_header.html.twig'%}
	<main>
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<div class='row'>
			<div class='col-4 mx-auto'>
				<h1>S'inscrire</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.username, {
            label: "Nom d'utilisateur"
        }) }}
				{{ form_row(registrationForm.email, {
            label: 'Adresse mail'
        }) }}
				{{ form_row(registrationForm.deliveryAddress, {
            label: 'Adresse de livraison'
        }) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
				<button type="submit" class="btn btn-primary">Créer un compte</button>
				{{ form_end(registrationForm) }}
				<hr/>
				<h4>Déjà inscrit ?</h4>
			<a href="/login"><button type="submit" class="btn btn-primary">Se connecter</button></a>
			</div>
		</div>
	</main>
	{% include '_partials/_footer.html.twig'%}
{% endblock %}
