{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
{% endblock %}

{% block body %}
	{% include '_partials/_header.html.twig'%}
	<main>
		<div class='product'>
			<img class='product_img' src={{asset('images/products/' ~ product.imageName)}}>
			<div class='product_display'>
				<div class='product_details'>
					<div class='product_details_infos'>
						<h2>{{ product.name }}</h2>
						<h3>{{ product.price|number_format(2, ',', '.') }}
							€</h3>
					</div>
					<div class='product_details_size'>
						<select class='form-select' onchange='sizeChoice(this.value)'>
							<option>Taille</option>
							<option value="1">XS</option>
							<option value="2">S</option>
							<option value="3">M</option>
							<option value="4">L</option>
							<option value="5">XL</option>
						</select>
					</div>
				</div>
				<div class='add_btn'>
					<a href='{{ path('cart_add', {id : product.id}) }}'>
						<button class='btn btn-primary w-100'>Ajouter au panier</button>
					</a>
				</div>
			</div>
		</div>
	</main>
	{% include '_partials/_footer.html.twig'%}
{% endblock %}
